<!DOCTYPE html>
<html>
<head>
  <title>Ryakuzu</title>
  <%= stylesheet_link_tag    "ryakuzu/application", media: "all" %>
  <%= javascript_include_tag "ryakuzu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <%= yield %>
</div>


</body>
</html>
