p Column
= text_field_tag 'column[]', '', class: 'form-control', placeholder: 'Column name...', pattern: '^[A-Za-z_]{1,150}$', title: 'Remove numbers, or non english words'
p Type
= select_tag 'type[]', options_for_select(['String', 'Boolean', 'Integer',
          'Text', 'Float', 'Decimal', 'Binary', 'Date', 'Time', 'DateTime'].map { |i| i }), { class: 'browser-default' }
hr
