p Column
= text_field_tag 'column[]', '', class: 'form-control'
p Type
= select_tag 'type[]', options_for_select(['String', 'Boolean', 'Integer',
          'Text', 'Float', 'Decimal', 'Binary', 'Date', 'Time', 'DateTime'].map { |i| i }), { class: 'browser-default' }
hr
